.grid-ts {
    position: fixed;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.34% ;
    grid-template-rows: 25% 25% 25% 25%;

    background-color: black;
}
.reg{
    position: fixed;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.cloud {
    
    width: 100%;
    height: 100%;
    white-space: no-wrap;

    grid-row: 1 / span 2;
}

.devOps {
    
    grid-row: 1 / span 2;
    grid-column-start: 3;
}

.backEnd{
    
    grid-row: 2 / span 2;
}

.frontEnd{
    
    grid-column-start: 1;
    grid-row: 3 / span 2;
}

.dataB{
    
    grid-column-start: 3;
    grid-row: 3 / span 2;
}

.ts-title{
    text-align: center;
}

.g-box{
    /* text-align: center; */
    
}

.main-li {
    text-align: start;
  
 
}

.scroll {
 
        overflow: scroll;
        height: 100%;

        background-color: black;
     
    
}

.b-list {
    text-align: start;
}

.card{
    margin-left: 15px;
  
    
}



.grid-ts h2 {
    color: yellow;
    font-size: 35px;


}

.grid-ts li {
    color: white;
    font-size: 25px;
    font-weight: 800;
    margin: auto 0px;
}


.scroll h2 {
    color: yellow;
    font-size: 35px;
}

.scroll li {
    color: white;
    font-size: 25px;
    font-weight: 800;
    
}

