.header {
    background-color: white;
  
    width: 100%;
    border: 5px solid blue;
    position: fixed;
    left: 0;
    top:0;
    height: 55px;
    white-space: nowrap;
}

.header li {
    display: inline-block;
    position:relative;
    top: -20px;
}



.links {
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 45px;
  
}

.nav-link {
    margin: 0px 35px;
}

