.grid-home {
    position: fixed;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 25%  25% 25% 25%;
}


.about-me{
    border: solid 5px red;
    grid-row-start: 1;
    text-align: center;
}

.pics {
    border: solid 5px green;
    
}

.general-info {
    border: solid 5px yellow;
    grid-row: 1 / 4;
}

.work-experince {
    border: solid 5px black;
    grid-row: 3/ span 2;
}

.at{
    font-size: 125px;
}

.bout-me {
    font-size: 100px;
}



.links-grid {
    display: grid;
    grid-template-columns: 35% 30% 35% ;
    grid-template-rows: 100%;

   width: 100%;
   text-align: center;
  
  
}

.v-center {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}



